.btnNext {
  margin: auto 60px 60px auto;
  border: 1px solid white;
  padding: 14px 22px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.148);
  }
}

.btnNextHide {
  display: none;
}
