.choice {
  padding: 12px 32px;
  border: 1px solid white;
  margin: 24px;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  &.hide {
    filter: grayscale(100%);
    pointer-events: none;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.148);

    cursor: pointer;
  }
  h5 {
    font-size: 20px;
  }
}
