.sceneContainer {
  margin-top: 30vh;
  z-index: 1;
  .character {
    width: 60%;
    margin: 0 auto -10px auto;
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 25%;
  }

  .bubble {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 24px;
    border-radius: 25px;
    background: #000;

    p {
      z-index: 2;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
