@font-face{
  font-family: 'Against';
  src:
    url('/font/against.ttf') format('truetype'),
    url('/font/against.otf') format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
