.dark {
  background-color: #000;
}

.main {
}

.storyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.spaceBarNext {
  margin: 72px auto;
  font-size: 18px;
}
