.dark {
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.storyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.spaceBarNext {
  margin: 72px auto;
  font-size: 18px;
}
